*{
  padding:0;
  margin:0;
}
body {
  height: 100%;
  width: 100%;
  color:grey;
  
}



canvas{
/*   border:2px solid black; */
/*   background-color:red; */
}

.speedBtn{
  position:absolute;
  top:0;
  left:0;
  width:cover;
  height:cover;

}

.colHeading{
  position:absolute;
  top:10;
  left:10;
  
}

.styleSlidersCont{
/*   background-color: yellow; */
  position:absolute;
  top:10px;
  left:77%;
  display:flex;
  gap:1rem;
}
